@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Lis/axios.js"></script>
<script src="~/Lis/vue.js"></script>
<script src="~/Lis/jquery-1.11.0.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Lis/scriptXia/chosen.jquery.js"></script>
<link href="~/Lis/scriptXia/chosen.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<style>
    .form-inline {
        margin-top: 10px;
    }
</style>
<div class="container">
    <h3>考卷管理</h3>
    <hr />
    <div class="form-inline">
        年级：
        <div class="form-group" style="margin-left:10px;">
            <label class="sr-only" for="exampleInputEmail3"></label>
            <select id="GradeName" style="height:30px;width:150px;" v-on:change="CeLve">
                <option v-for="a in CeList">{{a.GradeName}}</option>
            </select>
        </div>
        <button class="btn btn-primary" v-on:click="ADDKao" data-toggle="modal" data-target="#AddModa3" style="margin-left:10px;">添加考场</button>
    </div>
    <table class="table table-bordered" style="margin-top:10px;">
        <tr>
            <td>编号</td>
            <td>年级</td>
            <td>考试时间</td>
            <td>是否开放</td>
            <td>可考班级</td>
            <td>答题人数</td>
            <td>创建时间</td>
            <td>操作</td>
        </tr>
        <tr v-for="s in List">
            <td>{{s.PaperID}}</td>
            <td>{{s.GradeIDName}}</td>
            <td>{{s.Duration}}</td>
            <td>{{s.IsOpen}}</td>
            <td>{{s.ClassList}}</td>
            <td>{{s.QuestionCount}}<span class="glyphicon glyphicon-list-alt" style="margin-left:10px;cursor:pointer"></span></td>
            <td>{{s.CreateTime}}</td>
            <td><span class="glyphicon glyphicon-edit" data-toggle="modal" v-on:click="Mo" data-target="#AddModa2" style="cursor:pointer"></span><span class="glyphicon glyphicon-remove" v-on:click="Shan" style="margin-left:5px; cursor:pointer"></span><span class="glyphicon glyphicon-eye-open" v-on:click="Dian" data-toggle="modal" data-target="#AddModa3" style="margin-left:5px;cursor:pointer"></span></td>
        </tr>
    </table>
    每页 10 条记录，共<span id="CuntYe"></span>页，当前第<span id="Ye">0</span>页
    <button class="btn btn-primary" v-on:click="ShouYe">首页</button>
    <button class="btn btn-primary" v-on:click="ShangYe">上一页</button>
    <button class="btn btn-primary" v-on:click="XiaYe">下一页</button>
    <button class="btn btn-primary" v-on:click="MoYe">末页</button>

    <div class="modal fade" id="AddModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改</h4>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        是否开放：
                        <div class="form-group">
                            <select id="Kai" style="width:100px;height:30px;">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" v-on:click="DianBao" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade bs-example-modal-lg" tabindex="-1" id="AddModa3" data-backdrop="static" role="dialog" aria-labelledby="myLargeModalLabel">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" class="close" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h3 class="modal-title" id="myModalLabel">添加考场</h3>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        选择年级:
                        <div class="form-group">
                            <select style="width:300px;height:30px;" id="ADDGrade" v-on:change="ADDGradXuan">
                                <option v-for="s in GradeList">{{s}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-inline">
                        考试类型:
                        <div class="form-group">
                            <select style="width:300px;height:30px;" id="ADDKaoType">
                                <option v-for="s in TypeList">{{s}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-inline">
                        考试时间:
                        <div class="form-group">
                            <input type="number" name="name" value="60" class="form-control" />
                        </div>
                    </div>
                    <div class="" style="margin-top:10px;">
                        考试班级:
                        <select data-placeholder="请选择班级" class="chzn-select" multiple style="width:350px;" id="dl_chose2">
                            <option v-for="a in GradeLit">{{a}}</option>
                            
                        </select>

                       
                    </div>
                    <div class="form-inline">
                        是否开放：
                        <div class="form-group">
                            <select id="Kai" style="width:100px;height:30px;">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-inline">
                        是否结业：
                        <div class="form-group">
                            <select id="Jie" style="width:100px;height:30px;">
                                <option value="1">是</option>
                                <option value="0">否</option>
                            </select>
                        </div>

                    </div>
                    <h3>组卷</h3>
                    <hr />
                    <div class="form-inline">
                        出题策略:
                        <div class="form-group">
                            <select id="Ce" style="width:300px;height:30px;" v-on:change="CeLveXun">
                                <option v-for="s in CeLve1">{{s}}</option>
                            </select>
                            <span v-on:click="ADDCeLveZDY" style="color:aquamarine;cursor:pointer">添加自定义策略</span>
                        </div>
                    </div>
                    <table class="table table-bordered" id="ZDY" style="margin-top:10px;">
                        <tr>
                            <td>教材</td>
                            <td>章节</td>
                            <td>数量</td>
                            <td>操作</td>
                        </tr>
                        <tr>
                            <td>
                                <select id="Ce" style="width:200px;height:30px;">
                                    <option>a</option>
                                </select>
                            </td>
                            <td>
                                <select id="Ce" style="width:200px;height:30px;">
                                    <option>a</option>
                                </select>
                            </td>
                            <td>
                                <select id="Ce" style="width:200px;height:30px;">
                                    <option>a</option>
                                </select>
                            </td>
                            <td>
                                <span onclick="ShanZD(this)" class="glyphicon glyphicon-remove" style="margin-left:5px; cursor:pointer"></span>
                            </td>
                        </tr>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" data-dismiss="modal" class="btn btn-default">关闭</button>
                    <button type="button" v-on:click="DianBaoADD" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var mycars = new Array();
    var a = new Vue({
        el: '.container',
        data: {
            List: [],
            CeList: [],
            ID: '',
            PaperS: {

            },
            CeLve1: [],//出题策略
            TypeList: [],//考试类型
            GradeList: [],//年级
            GradeLit: [],//选择年级之后的触发的所属年级的班级

        },
        created() {
            this.Init();
        },
        methods: {
            Init() {
                axios.post('/Paper/List').then(Response => {
                    this.List = Response.data.Li;
                    this.CeList = Response.data.list1;
                    $('#CuntYe').text(Response.data.Ye);
                    $('#Ye').text("1");
                })
            },
            //首页
            ShouYe() {
                var a = "1";
                axios.post('/Paper/Select', { page: a, GradeID: $('#GradeName').val() }).then(Response => {
                    this.List = Response.data.Li;
                })
                $('#Ye').text(a);
            },
            //分页的下一页
            XiaYe() {
                var a = parseInt($('#Ye').text()) + 1;
                if (parseInt($('#Ye').text()) >= parseInt($('#CuntYe').text())) {
                    alert("已经是最后一页了");
                }
                else {
                    axios.post('/Paper/Select', { page: parseInt($('#Ye').text()) + 1, GradeID: $('#GradeName').val() }).then(Response => {
                        this.List = Response.data.Li;
                    })
                    $('#Ye').text(a);
                }
            },
            //分页的上一页
            ShangYe() {
                var a = parseInt($('#Ye').text()) - 1;
                if (a <= 0) {
                    alert("已经是第一页了");
                    $('#Ye').text(1);
                }
                else {
                    axios.post('/Paper/Select', { page: a, GradeID: $('#GradeName').val() }).then(Response => {
                        this.List = Response.data.Li;
                    })
                    $('#Ye').text(a);
                }
            },
            //最后一页
            MoYe() {
                var a = $('#CuntYe').text();
                axios.post('/Paper/Select', { GradeID: $('#GradeName').val() }).then(Response => {
                    this.List = Response.data.Li;
                })
                $('#Ye').text(a);
            },
            CeLve() {
                if ($('#GradeName').val() == "全部") {
                    this.Init();
                } else {
                    axios.post('/Paper/Select', { GradeID: $('#GradeName').val() }).then(Response => {
                        this.List = Response.data.Li;
                        $('#CuntYe').text(Response.data.Ye);
                        if ($('#CuntYe').text() == "0") {
                            $('#Ye').text("0");
                        }
                    })
                }
            },
            Dian(e) {
                var Bian = $('.table tr:eq(' + $(e.currentTarget.parentElement.parentElement).index() + ') td:eq(0)').text();
                location.href = "/Paper/Yu?bian=" + Bian;
            },
            Mo(e) {
                var Bian = $('.table tr:eq(' + $(e.currentTarget.parentElement.parentElement).index() + ') td:eq(3)').text();
                this.ID = $('.table tr:eq(' + $(e.currentTarget.parentElement.parentElement).index() + ') td:eq(0)').text();
                var ops = document.getElementById("Kai").options;//取出下拉列表的项对象集合
                for (var i = 0; i < ops.length; i++) {//遍历集合
                    if (Bian == ops[i].value) {//如果该项的value等于文本框填写的值
                        document.getElementById("Kai").options[i].selected = "selected";//设定下拉列表相应的下拉项的选中
                        break;
                    }
                }
            },
            DianBao() {
                axios.post('/Paper/Update', { Id: this.ID, Shi: $('#Kai').val() }).then(Response => {
                    alert(Response.data);
                    this.Init();
                    ModuleQ();
                })
            },
            Shan(e) {
                if (confirm("确定要删除吗？")) {
                    this.ID = $('.table tr:eq(' + $(e.currentTarget.parentElement.parentElement).index() + ') td:eq(0)').text();
                    axios.post('/Paper/Delete', { id: this.ID }).then(Response => {
                        alert(Response.data);
                        this.Init();
                    })
                }
            },
            //自定义策略
            ADDCeLveZDY() {
                $('#ZDY').append("<tr>" + $('#ZDY tr:eq(1)').html() + "</tr>");
            },
            ADDGradXuan() {

            },
            //添加考试
            ADDKao() {
                axios.post('/Paper/ShowListJie').then(Response => {
                    this.GradeList = Response.data.Grad;
                    this.TypeList = Response.data.Ty;
                    this.CeLve1 = Response.data.CL;
                    this.GradeLit = Response.data.GradeLi;
                });

              
            },
            //以下都为下拉框事件
            //下拉框选取事件 当为自定义策略
            CeLveXun() {

                if ($('#Ce').val() == "自定义策略") {
                    $('#ZDY').show();
                } else {
                    $('#ZDY').hide();
                }
            },
            BanKuang() {
            },
            //添加
            DianBaoADD() {
                alert($('#dl_chose2_chosen .chosen-choices .search-choice span').text());
            }
        },
    })
    function ModuleQ() {
        $('#AddModal').hide();
        $('#AddModa2').hide();
        $('.modal-backdrop').remove();
        $('body').removeClass('modal-open');
    };
</script>
<script type="text/javascript">
    $('#ZDY').hide();
    function chose_mult_set_ini(select, values) {
        var arr = values.split(',');
        var length = arr.length;
        var value = '';
        for (i = 0; i < length; i++) {
            value = arr[i];
            $(select + " option[value='" + value + "']").attr('selected', 'selected');
        }
        $(select).trigger("liszt:updated");
    };
    $("#dl_chose2").chosen({ allow_single_deselect: true, width: "300px" }).change(function () {
    });
    $(document).ready(function () {
        // 如果要初始化已选中的项，需要在调用chosen()函数之前调用chose_mult_set_ini()函数
        // 设置<select>的<option>属性selected='selected'，这样chosen()函数被调用时，相应项会显示在框中
        chose_mult_set_ini('#dl_chose2', '1,3,5,8');

        //初始化
        $(".chzn-select").chosen();
    });

    function chose_mult_set_ini(select, values) {
        var arr = values.split(',');
        var length = arr.length;
        var value = '';
        for (i = 0; i < length; i++) {
            value = arr[i];
            $(select + " option[value='" + value + "']").attr('selected', 'selected');
        }
        $(select).trigger("liszt:updated");
    };
    $("#dl_chose2").chosen({ allow_single_deselect: true, width: "300px" }).change(function () {
    });
    $(document).ready(function () {
        // 如果要初始化已选中的项，需要在调用chosen()函数之前调用chose_mult_set_ini()函数
        // 设置<select>的<option>属性selected='selected'，这样chosen()函数被调用时，相应项会显示在框中
        chose_mult_set_ini('#dl_chose2', '1,3,5,8');
       
        //初始化
        $(".chzn-select").chosen();
    });

    function ShanZD(a) {
        if (confirm("确定要删除吗？")) {

            if (parseInt($('#ZDY tr').length) == 3) {
                let i = $(a).parent().parent().index();
                $(a).parent().parent().remove();
            } else {
                alert("不能再删除了");
            }

        }
    };
</script>