
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Lis/axios.js"></script>
<script src="~/Lis/vue.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Lis/ueditor/ueditor.config.js"></script>
<script src="~/Lis/ueditor/ueditor.all.min.js"></script>
<script src="~/Lis/ueditor/lang/zh-cn/zh-cn.js"></script>

<script src="~/Lis/My97DatePicker/WdatePicker.js"></script>
<div class="container">

    <h3>试题审核</h3>
    <hr />
    <div class="form-inline">
        开始时间：
        <div class="form-group" style="margin-left:10px;">
            <label class="sr-only" for="exampleInputEmail3"></label>
            <input type="text" onfocus="WdatePicker()" class="form-control" v-model="Date1" id="exampleInputEmail3" placeholder="请输入选择开始时间">
        </div>
        结束时间：
        <div class="form-group" style="margin-left:10px;">
            <label class="sr-only" for="exampleInputEmail3"></label>
            <input type="text" onfocus="WdatePicker()" class="form-control" v-model="Date2" id="exampleInputEmail4" placeholder="请输入选择开始时间">
        </div>
        @*操作*@
        <button class="btn btn-primary" v-on:click="Select" style="margin-left:10px;">查询</button>
        <button class="btn btn-primary" v-on:click="Resule" style="margin-left:10px;">重置</button>
    </div>
    <table class="table table-bordered" style="margin-top:10px;">
        <tr>
            <td style="width:30px;">编号</td>
            <td style="width:700px;">题干</td>
            <td style="width:100px;">试题类别</td>
            <td style="width:90px;">录题人</td>
            <td>难易度</td>
            <td style="width:100px;">操作</td>
        </tr>
        <tr v-for="s in QuestionS">
            <td style="width:30px;">{{s.QuestionID}}</td>
            <td style="width:700px;"><p></p>{{s.QuestionTitle}}</td>
            <td style="width:100px;">{{s.QuestionType}}</td>
            <td style="width:90px;">{{s.CreatorName}}</td>
            <td>{{s.QuestionLevel}}</td>
            <td style="width:100px;"><span v-on:click="Dian" style="cursor:pointer">审核</span></td>
        </tr>
    </table>
    每页 10 条记录，共<span id="CuntYe"></span>页，当前第<span id="Ye">0</span>页
    <button class="btn btn-primary" v-on:click="ShouYe">首页</button>
    <button class="btn btn-primary" v-on:click="ShangYe">上一页</button>
    <button class="btn btn-primary" v-on:click="XiaYe">下一页</button>
    <button class="btn btn-primary" v-on:click="MoYe">末页</button>



</div>
<script>
    var a = new Vue({
        el: '.container',
        data: {
            QuestionS: [],
            Name: '',
            GradeList: [],
            Date1: '',
            Date2:'',
        },
        created() {
            this.Init();
        },
        methods: {
            Init() {
                axios.post('/Check/List', { page: '0' }).then(Response => {
                    this.QuestionS = Response.data.Li;
                    $('#CuntYe').text(Response.data.Ye);
                    $('#Ye').text("1");
                })
            },
            Select() {
                this.Date1 = $('#exampleInputEmail3').val();
                this.Date2 = $('#exampleInputEmail4').val();
                axios.post('/Check/Select', { page: 0, DateQian: this.Date1, dateHou: this.Date2  }).then(Response => {
                    this.QuestionS = Response.data.Li;
                    $('#CuntYe').text(Response.data.Ye);
                    if ($('#CuntYe').text() == "0")
                        $('#Ye').text("0");
                    else
                        $('#Ye').text("1");
                })
            },
            //首页
            ShouYe() {
                this.Date1 = $('#exampleInputEmail3').val();
                this.Date2 = $('#exampleInputEmail4').val();
                var a = "1";
                axios.post('/Check/Select', { page: a, DateQian: this.Date1, dateHou: this.Date2 }).then(Response => {
                    this.QuestionS = Response.data.Li;
                })
                $('#Ye').text(a);
            },
            //分页的下一页
            XiaYe() {
                this.Date1 = $('#exampleInputEmail3').val();
                this.Date2 = $('#exampleInputEmail4').val();
                var a = parseInt($('#Ye').text()) + 1;
                if (parseInt($('#Ye').text()) >= parseInt($('#CuntYe').text())) {
                    alert("已经是最后一页了");
                }
                else {
                    axios.post('/Check/Select', { page: parseInt($('#Ye').text()) + 1, DateQian: this.Date1, dateHou: this.Date2}).then(Response => {
                        this.QuestionS = Response.data.Li;
                    })
                    $('#Ye').text(a);
                }
            },
            //分页的上一页
            ShangYe() {
                this.Date1 = $('#exampleInputEmail3').val();
                this.Date2 = $('#exampleInputEmail4').val();
                var a = parseInt($('#Ye').text()) - 1;
                if (a <= 0) {
                    alert("已经是第一页了");
                    $('#Ye').text(1);
                }
                else {
                    axios.post('/Check/Select', { page: a, DateQian: this.Date1, dateHou: this.Date2}).then(Response => {
                        this.QuestionS = Response.data.Li;
                    })
                    $('#Ye').text(a);
                }
            },
            //最后一页
            MoYe() {
                this.Date1 = $('#exampleInputEmail3').val();
                this.Date2 = $('#exampleInputEmail4').val();
                var a = $('#CuntYe').text();
                axios.post('/Check/Select', { page: a, DateQian: this.Date1, dateHou: this.Date2}).then(Response => {
                    this.QuestionS = Response.data.Li;
                })
                $('#Ye').text(a);
            },
            Resule() {
                this.Date1 = '';
                this.Date2 = '';
                this.Init();
            },
            Dian(e) {
                var huo = $('.table tr:eq(' + $(e.currentTarget.parentElement.parentElement).index() + ') td:eq(0)').text();
                location.href = "/Check/Desc?bian=" + huo;
            }
        }
    });

</script>

