@using Exam.Models;
@{
    ViewBag.Title = "考试";
    Layout = null;
}
@*<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>*@
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<style>
    li {
        list-style: none;
    }

    #bianda {
        font-size: 28px;
        color: #2ED2C1;
    }
</style>
<body style="background-color: #f3f3f4;">
    @{ 
        ExamSysEntities1 ef = new ExamSysEntities1();
        Student stu = Session["Student"] as Student;
    }
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <div class="collapse navbar-collapse" id="hidden">
                <ul class="nav navbar-nav">
                    <li><h3>在线考试系统</h3></li>
                </ul>
                <ul class="nav navbar-nav navbar-right" id="bianhua">
                    <li><h3>欢迎
                        @{
                            string ban = ef.Classes.FirstOrDefault(x => x.ClassID == stu.ClassID).ClassName + "班级";
                            string xue = stu.StudentName + "学生";
                            string zong = ban + xue;
                        }@zong</h3></li>
                    <li style="margin:0px 10px 0px 30px;cursor:pointer"><h3>@Html.ActionLink("安全退出", "Exit","",new {@OnClick="reutrn confrim('确定要退出吗？')" })</h3></li>
                </ul>
            </div>


        </div>
    </nav>
    <div class="container-fluid" style="padding-top:20px;">
        <div class="row" style="padding:50px 0">
            @{
                List<Paper> li = ef.Papers.Where(x => x.Shan == false).ToList();
                foreach (var item in li)
                {
                    if (item.IsOpen)
                    {
                        <div class="col-xl-3 col-lg-3 col-md-6 col-sm-12 col-xs-12 examRoom" exam-room-id="5071" exam-paper-id="5246">
                            <div class="box bg-white" style="margin-bottom:1px;padding:0 15px;">
                                <div class="row">
                                    <div class="col-sm-12 text-center" style="background-color:darkorange">
                                        <h2 style="line-height:120px; " class="exam-title">@item.PaperName</h2>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-sm-12" style="padding:15px;background:#fff">
                                        <h4>考试班级：</h4>
                                        <div data="badge-warning">
                                            @{
                                                string[] Class = item.ClassList.Split('T');
                                                for (int i = 0; i < Class.Length; i++)
                                                {
                                                    string Ban = "";
                                                    if (i == 0)
                                                    {
                                                        Ban = Class[i];
                                                    }
                                                    else
                                                    {
                                                        Ban = "T" + Class[i];
                                                    }
                                                    <label class="badge badge-warning">@Ban</label>
                                                }
                                            }
                                        </div>
                                        @{
                                            bool flag = false;
                                            string[] Class1 = item.ClassList.Split('T');
                                            for (int i = 0; i < Class1.Length; i++)
                                            {
                                                string Ban = "";
                                                if (i == 0)
                                                {
                                                    Ban = Class1[i];
                                                }
                                                else
                                                {
                                                    Ban = "T" + Class1[i];
                                                }
                                                if (Ban == ef.Classes.FirstOrDefault(x => x.ClassID == stu.ClassID).ClassName)
                                                {
                                                    flag = true;

                                                }
                                                else
                                                {
                                                    flag = false;

                                                }

                                            }
                                            if (flag)
                                            {
                                                <button class="btn btn-warning btn-block" type="button"
                                                        name="button">
                                                    进入考场
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="btn btn-warning btn-block" type="button"
                                                        name="button" disabled>
                                                    进入考场
                                                </button>
                                            }
                                        }



                                    </div>
                                </div>
                            </div>
                        </div>
                     }
                     else{}
                     }
            }
        </div>
    </div>
</body>


