@{
    ViewBag.Title = "Index";
    Layout = null;
}
<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Lis/axios.js"></script>
<script src="~/Lis/vue.js"></script>
<script src="~/Scripts/jquery-3.3.1.js"></script>
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Lis/My97DatePicker/WdatePicker.js"></script>
<div class="container">
    <h3>抽题策略明细</h3>
    <hr />
    策略名称：
    <select id="GradeName" style="height:30px;width:150px;" v-on:change="CeLve">
        <option v-for="a in CeList">{{a.RuleName}}</option>
    </select>
    <table class="table table-bordered" style="margin-top:10px;">
        <tr>
            <td>编号</td>
            <td>抽题策略名称</td>
            <td>教材</td>
            <td>抽题数量</td>
            <td>简易程度</td>
            <td>操作</td>
        </tr>
        <tr v-for="s in List">
            <td>{{s.DetailID}}</td>
            <td>{{s.RuleIDName}}</td>
            <td>{{s.BookIDName}}</td>
            <td>{{s.QuestionCount}}</td>
            <td>{{s.QuestionLevel}}</td>
            <td><span class="glyphicon glyphicon-pencil" v-on:click="Dian" data-toggle="modal" data-target="#AddModa2" style="cursor:pointer"></span>@*<span class="glyphicon glyphicon-remove"  style="margin-left:5px; cursor:pointer"></span>*@</td>
        </tr>
    </table>
    每页 10 条记录，共<span id="CuntYe"></span>页，当前第<span id="Ye">0</span>页
    <button class="btn btn-primary" v-on:click="ShouYe">首页</button>
    <button class="btn btn-primary" v-on:click="ShangYe">上一页</button>
    <button class="btn btn-primary" v-on:click="XiaYe">下一页</button>
    <button class="btn btn-primary" v-on:click="MoYe">末页</button>


    <div class="modal fade" id="AddModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改策略</h4>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        难易度：
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">Email address</label>
                            <select id="M-Nan" style="height:30px; margin-left:10px;"><option value="1">易</option><option value="2">中</option><option value="3">难</option></select>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" v-on:click="Cun" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var ap = new Vue({
        el: '.container',
        data: {
            CeList: [],
            List: [],
            ListSum: {
                DetailID: '',
                RuleIDName: '',
                BookIDName: '',
                QuestionCount: '',
                QuestionLevel: '',
            }
        },
        created() {
            this.Init();
        },
        methods: {
            Init() {
                axios.post('/RuleDetail/List', { page: '0' }).then(Response => {
                    this.List = Response.data.Li;
                    this.CeList = Response.data.list1;
                    $('#CuntYe').text(Response.data.Ye);
                    $('#Ye').text("1");
                })
            },
            CeLve() {
                if ($('#GradeName').val() == "全部") { this.Init() } else {
                    axios.post('/RuleDetail/Select', { page: '0', Name: $('#GradeName').val() }).then(Response => {
                        this.List = Response.data.Li;
                        $('#CuntYe').text(Response.data.Ye);
                        $('#Ye').text("1");
                    })
                }
            },
            //首页
            ShouYe() {
                var a = "1";
                axios.post('/RuleDetail/Select', { page: a, Name: $('#GradeName').val() }).then(Response => {
                    this.List = Response.data.Li;
                })
                $('#Ye').text(a);
            },
            //分页的下一页
            XiaYe() {
                var a = parseInt($('#Ye').text()) + 1;
                if (parseInt($('#Ye').text()) >= parseInt($('#CuntYe').text())) {
                    alert("已经是最后一页了");
                }
                else {
                    axios.post('/RuleDetail/Select', { page: parseInt($('#Ye').text()) + 1, Name: $('#GradeName').val() }).then(Response => {
                        this.List = Response.data.Li;
                    })
                    $('#Ye').text(a);
                }
            },
            //分页的上一页
            ShangYe() {
                var a = parseInt($('#Ye').text()) - 1;
                if (a <= 0) {
                    alert("已经是第一页了");
                    $('#Ye').text(1);
                }
                else {
                    axios.post('/RuleDetail/Select', { page: a, Name: $('#GradeName').val() }).then(Response => {
                        this.List = Response.data.Li;
                    })
                    $('#Ye').text(a);
                }
            },
            //最后一页
            MoYe() {
                var a = $('#CuntYe').text();
                axios.post('/RuleDetail/Select', { page: a, Name: $('#GradeName').val() }).then(Response => {
                    this.List = Response.data.Li;
                })
                $('#Ye').text(a);
            },
            Dian(e) {
                var Name = $('.table tr:eq(' + $(e.currentTarget.parentElement.parentElement).index() + ') td:eq(4)').text();
                this.ListSum.DetailID = $('.table tr:eq(' + $(e.currentTarget.parentElement.parentElement).index() + ') td:eq(0)').text();
                this.ListSum.RuleIDName = $('.table tr:eq(' + $(e.currentTarget.parentElement.parentElement).index() + ') td:eq(1)').text();
                this.ListSum.BookIDName = $('.table tr:eq(' + $(e.currentTarget.parentElement.parentElement).index() + ') td:eq(2)').text();
                this.ListSum.QuestionCount = $('.table tr:eq(' + $(e.currentTarget.parentElement.parentElement).index() + ') td:eq(3)').text();
                

                var ops1 = document.getElementById('M-Nan').options;//取出下拉列表的项对象集合
                for (var i = 0; i < ops1.length; i++) {//遍历集合
                    if (Name == ops1[i].value) {
                        document.getElementById('M-Nan').options[i].selected = "selected";//设定下拉列表相应的下拉项的选中
                        break;
                    }
                }
            },
            Cun() {
                this.ListSum.QuestionLevel = $('#M-Nan').val();
                axios.post('/RuleDetail/Update', this.ListSum).then(Response => {
                    alert(Response.data);
                    this.Init();
                    ModuleQ();
                })
            },
        },
    })
    function ModuleQ() {
        $('#AddModal').hide();
        $('#AddModa2').hide();
        $('.modal-backdrop').remove();
        $('body').removeClass('modal-open');
    }
</script>

