
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<html lang="en">
<head>

    <script src="~/Lis/axios.js"></script>
    <script src="~/Lis/vue.js"></script>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <table class="table table-bordered">
            <tr v-for="s in Grade">
                <td>{{s.GradeID}}</td>
                <td>{{s.GradeName}}</td>
            </tr>
        </table>
    </div>
    <script>
        var app = new Vue(
            {
                el: '.container',
                data:
                    {
                        Grade: [],
                    },
                created() {
                    axios.get("/Vue/List").then(Response => {
                        console.log(Response.data);
                        this.Grade = Response.data;
                    })
                },
            });
    </script>
</body>
</html>

