
@{
    ViewBag.Title = "Index";
    Layout = null;
}
<script src="~/Scripts/jquery-3.3.1.js"></script>

<link href="~/Content/bootstrap.css" rel="stylesheet" />
<script src="~/Scripts/bootstrap.js"></script>
<script src="~/Lis/vue.js"></script>
<script src="~/Lis/axios.js"></script>

<div class="container">
    <h3>年级管理</h3>
    <hr />
    <div class="form-inline">
        年级名称：
        <div class="form-group">
            <label class="sr-only" for="exampleInputEmail3">Email address</label>
            <input type="text" class="form-control" v-model="Name" id="exampleInputEmail3" placeholder="请输入年级名称">
        </div>
        <button v-on:click="Select" class="btn btn-info">查询</button>
        <button type="reset" v-on:click="Reset" class="btn btn-primary">重置</button>
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#AddModal">+添加</button>
    </div>

    <table class="table table-bordered" style="margin-top:10px;">
        <tr>
            <td>编号</td>
            <td>年级名称</td>
            <td>操作</td>
        </tr>
        <tr v-for="s in Grade">
            <td>{{s.GradeID}}</td>
            <td>{{s.GradeName}}</td>
            <td><span class="glyphicon glyphicon-pencil" v-on:click="Update1"  data-toggle="modal" data-target="#AddModa2" style="cursor:pointer"></span><span class="glyphicon glyphicon-remove" v-on:click="Clear" style="margin-left:5px; cursor:pointer"></span></td>
        </tr>
    </table>
    @*模态框 用来添加年级信息*@
    <div class="modal fade" id="AddModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">添加年级</h4>
                </div>
                <div class="modal-body">
                    <form class="form-inline">
                        年级名称：
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">Email address</label>
                            <input type="text" class="form-control" v-model="GradeName" id="exampleInputEmail3" placeholder="请输入年级名称">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" v-on:click="ADD" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
    @*模态框 用来修改年级信息*@
    <div class="modal fade" id="AddModa2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改年级</h4>
                </div>
                <div class="modal-body">
                    <div class="form-inline">
                        年级名称：
                        <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">Email address</label>
                            <input type="text" class="form-control" v-model="GradeName1" id="exampleInputEmail3" placeholder="请输入年级名称">
                            <input type="text" hidden="hidden" v-model="GradeID1" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" v-on:click="Update" class="btn btn-primary">保存</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //实例化vue
    var a = new Vue({
        el: '.container',
        data:
            {
                Grade: [],
                Name: '',
                GradeName: '',
                GradeName1: '',
                GradeID1:''
            },
        created() {
            this.Init();
        },
        methods:{
            //初始化对象方法
            Init() {
                axios.post('/GRadeC/List').then(Response => {
                    this.Grade = Response.data;
                });
            },
            //不为空查询方法
            Select() {
                if (this.Name=='') {
                    this.Init();
                }
                else
                {
                    axios.post('/GRadeC/Select', { Name: this.Name }).then(Response => {
                        this.Grade = Response.data;
                    });
                }
            },
            //增加
            ADD() {
                axios.post('/GRadeC/ADD', { GradeNme: this.GradeName }).then(Response => {
                    alert(Response.data);
                    this.Init();
                        //去掉模态框
                        
                        ModuleQ();
                })
            },
            //删除
            Clear(e) {
                var Shu = $('.table tr:eq(' + $(e.currentTarget.parentElement.parentElement).index() + ') td:eq(1)').text();
                if (confirm("确定要删除吗？")) {
                    axios.post('/GRadeC/Clear', { GradeN: Shu }).then(Response => {

                        alert(Response.data);
                            this.Init();
                    })
                }
            },
            Reset() {
                this.Name = "";
                this.Init();
            },
            Update1(e) {
                 Shu = $('.table tr:eq(' + $(e.currentTarget.parentElement.parentElement).index() + ') td:eq(0)').text();
                 ShuN = $('.table tr:eq(' + $(e.currentTarget.parentElement.parentElement).index() + ') td:eq(1)').text();
                this.GradeName1 = ShuN;
                this.GradeID1 = Shu;
            },
            //修改
            Update() {
                axios.post('/GRadeC/Update', { GradeID:this.GradeID1, GradeNam:this.GradeName1 }).then(Response => {

                            alert(Response.data);
                            this.Init();
                            ModuleQ1();
                    })
            }

        }

    });
    function ModuleQ() {
        $('#AddModal').hide();
        $('.modal-backdrop').remove();
        $('body').removeClass('modal-open');
    }
    function ModuleQ1() {
        $('#AddModa2').hide();
        $('.modal-backdrop').remove();
        $('body').removeClass('modal-open');
    }
</script>

